*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;

}

nav
{
    background:  linear-gradient(90deg, #050505 1.18%, #131213 100%);
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.logo
{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ffff;
    border: 5px solid;
    padding: 14px 70px;
    border-radius: 5px;
    margin-top: 7px;
}


span{

    padding: 2px 4px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 10px 30px;
    position: relative;
    padding-top: 40px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}
nav ul li a input{
    width: 200px;
    border-radius: 5px;
}
i{
    padding-left: 5px;
}
nav ul li a:hover{
    -webkit-text-stroke: 2px #ffff;
    color:transparent;
}

.dropdown{
    display: none;
    
}
nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    top: 100%;
    background:  linear-gradient(90deg, #161616 1.18%, #111011 100%);
}

.dropdown ul{
    display: block;
    margin: 10px;
    justify-content: center;
    
}

.dropdown ul li a{
    width: 150px;
    padding: 10px;
}



footer{
    height: 100px;
    width: 100%;
    background:  linear-gradient(90deg, #050505 1.18%, #131213 100%);
    align-items: center;
    justify-content: center;
    color: #ffff;
    display: flex;
}
.content{
    background:url('./images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg');
    height: 400px;
    text-align: center;
    padding-top: 80px;
}
.content p{
    font-size: 50px;
    color: #ffff;
    font-weight: 400;
    padding-top: 50px;
}
.content h1{
    font-size: 70px;
    color: #ffff;
    font-weight: 600;
    transition: 0.5s;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-size: 20px;
    border: 2px solid;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 40px;
} 
.content h1:hover{
    -webkit-text-stroke: 2px #ffff;
    color:transparent;
    
}
.sections{
    display: flex;
    height: 400px;
    width: 100%;
    overflow: hidden;
    color: #ffff;
    text-align: center;
    font-weight: 600;
}
.one{
    
    width: 50%;
    background: url('./images/cat-han-W_5Eakb1598-unsplash.jpg');
}
.two{
    width: 50%;
    
    background: url('./images/marjan-blan-marjanblan-9tqAeLDQT-o-unsplash.jpg');
}
.three{
    height: 400px;
    width: 100%;
    background: url('./images/peter-gargiulo-cGNCepznaV8-unsplash.jpg');
}
.last{
    display: flex;
    height: 400px;
    width: 100%;
    overflow: hidden;
    color: #ffff;
    text-align: center;
    font-weight: 600;
}

.sections a{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-size: 20px;
    border: 2px solid;
    padding: 30px 70px;
    border-radius: 50px;
    margin-top: 50px;
}
.sections p{
    font-size: 20px;
    padding-top: 50px;
    font-style: italic;
}
.sections img{
    width: 60%;
    height: 60%;
    border-radius: 15px;
    border-color: #ffff;
    margin-top: 20px;
    padding-bottom: 10px;
}
.three img{
    width: 400px;;
    height: 300px;;
    border-radius: 15px;
    border-color: #ffff;
    margin-top: 25px;
    padding-bottom: 10px;
}
.three a{
    text-decoration: none;
    display: inline-block;
    color: #ffff;
    font-size: 20px;
    border: 2px solid;
    padding: 30px 70px;
    border-radius: 15px;
    margin-top: 50px;
}

.three p{
    font-size: 20px;
    padding-top: 50px;
    font-style: italic;
}

.sections a:hover{
    -webkit-text-stroke: 2px #ffff;
    color:transparent;
}

.three a:hover{
    -webkit-text-stroke: 2px #ffff;
    color:transparent;
}
footer a{
    color: #ffff;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 20px;
    
}

footer i{
padding-right: 30px;
align-items: center;
justify-content: center;
display: flex;

}

footer  a:hover{
    -webkit-text-stroke: 2px #ffff;

}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out { 
    opacity: .5;
  }

.maps{
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/peter-gargiulo-cGNCepznaV8-unsplash.jpg');
    text-align: center;
}  

.maps h1{
    padding-right: 20px;
}

.maps iframe{
    
   
    margin-top: 100px;
    margin-bottom: 30px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: bl;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    
    background: linear-gradient(90deg, #312f2f 1.18%, #050405 100%);
    padding: 20px;
    color: #ffff;
  }

  .container h2{
    font-weight: bold;
    font-style: italic;
    padding-bottom: 20px;
  }
